In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from placecanvas import PlaceCanvas
import cv2

In [2]:
df = pd.read_csv("dataset/header.csv")

In [3]:
df.head()

,timestamp,user_id,pixel_color,coordinate
0,2022-04-04 00:53:51.577 UTC,ovTZk4GyTS1mDQnTbV+vDOCu1f+u6w+CkIZ6445vD4XN8a...,#00CCC0,"826,1048"
1,2022-04-04 00:53:53.758 UTC,6NSgFa1CvIPly1VniNhlbrmoN3vgDFbMSKqh+c4TTfrr3d...,#94B3FF,"583,1031"
2,2022-04-04 00:53:54.685 UTC,O5Oityp3Z3owzTuwM9XnMggpLcqKEumsOMKGhRiDTTImWb...,#6A5CFF,"1873,558"
3,2022-04-04 00:54:57.541 UTC,tc273UiqS0wKa6VwiOs/iz/t4LyPYrhL2Q347awn11IQQE...,#009EAA,"1627,255"
4,2022-04-04 00:55:16.307 UTC,OOWsU/HLb4UUkQwclDeXFtsJTOXMlAdNHiRpFA1Qk+SxUr...,#94B3FF,"49,1478"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1175317 entries, 0 to 1175316
Data columns (total 4 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   timestamp    1175317 non-null  object
 1   user_id      1175317 non-null  object
 2   pixel_color  1175317 non-null  object
 3   coordinate   1175317 non-null  object
dtypes: object(4)
memory usage: 35.9+ MB

In [5]:
df[['x', 'y']] = df.coordinate.str.split(",",1, expand=True)
df['x'] = df['x'].astype(int)
df['y'] = df['y'].astype(int)

In [6]:
df.head()

,timestamp,user_id,pixel_color,coordinate,x,y
0,2022-04-04 00:53:51.577 UTC,ovTZk4GyTS1mDQnTbV+vDOCu1f+u6w+CkIZ6445vD4XN8a...,#00CCC0,"826,1048",826,1048
1,2022-04-04 00:53:53.758 UTC,6NSgFa1CvIPly1VniNhlbrmoN3vgDFbMSKqh+c4TTfrr3d...,#94B3FF,"583,1031",583,1031
2,2022-04-04 00:53:54.685 UTC,O5Oityp3Z3owzTuwM9XnMggpLcqKEumsOMKGhRiDTTImWb...,#6A5CFF,"1873,558",1873,558
3,2022-04-04 00:54:57.541 UTC,tc273UiqS0wKa6VwiOs/iz/t4LyPYrhL2Q347awn11IQQE...,#009EAA,"1627,255",1627,255
4,2022-04-04 00:55:16.307 UTC,OOWsU/HLb4UUkQwclDeXFtsJTOXMlAdNHiRpFA1Qk+SxUr...,#94B3FF,"49,1478",49,1478

In [7]:
canvas = PlaceCanvas(2000,2000)

In [8]:
video_name = 'video.avi'
video = cv2.VideoWriter(video_name, 0, 1, (2000,2000))

In [9]:
for index, row in df.iterrows():
    canvas.update_pixel(row.x, row.y, row.pixel_color)
canvas.save_canvas()

TypeError: Expected cv::UMat for argument 'image'